# <strong>Bitcoin Recurrent Neural Network<strong>
### Justin Marlor & Habit Blunk
##### *Colorado State University*

In [3]:
import pandas as pd
import subprocess

result = subprocess.run(['bash', './add-run-kaggle-bitcoin'], capture_output=True,text=True)

print(result.stdout)
print(result.stderr)

if result.returncode == 0:
  df = pd.read_csv("kaggle-bitcoin/upload/btcusd_1-min_data.csv", dtype={"Volume": float}, low_memory=False)
  display(df)

Installing dependencies from lock file

No dependencies to install or update

Installing the current project: kaggle-bitcoin (0.1.0)
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/Jmarlor/.config/kaggle/kaggle.json'
Current time (UTC): 2025-04-08 18:40:17.300991+00:00
Downloading dataset metadata from Kaggle...
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Downloading dataset from Kaggle...
Dataset URL: https://www.kaggle.com/datasets/mczielinski/bitcoin-historical-data
Checking for missing data...
Last data point in dataset: 2025-03-17 00:00:00+00:00 (Unix: 1742169600)
Current time (minus buffer): 2025-04-08 18:33:38.538365+00:00 (Unix: 1744137218)
Gap of 1967618 seconds detected.
Missing data detected.
Fetching data from 2025-03-17 00:00:00+00:00 to 2025-04-08 18:33:38+00:00
Fetching chunk 1/33: 2025-03-17 00:00:00+00:00 to 2025-03-17 16:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 2/33: 2025-03-17 16:40:00+00:00 to 2025-03-18 09:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 3/33: 2025-03-18 09:20:00+00:00 to 2025-03-19 02:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 4/33: 2025-03-19 02:00:00+00:00 to 2025-03-19 18:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 5/33: 2025-03-19 18:40:00+00:00 to 2025-03-20 11:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 6/33: 2025-03-20 11:20:00+00:00 to 2025-03-21 04:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 7/33: 2025-03-21 04:00:00+00:00 to 2025-03-21 20:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 8/33: 2025-03-21 20:40:00+00:00 to 2025-03-22 13:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 9/33: 2025-03-22 13:20:00+00:00 to 2025-03-23 06:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 10/33: 2025-03-23 06:00:00+00:00 to 2025-03-23 22:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 11/33: 2025-03-23 22:40:00+00:00 to 2025-03-24 15:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 12/33: 2025-03-24 15:20:00+00:00 to 2025-03-25 08:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 13/33: 2025-03-25 08:00:00+00:00 to 2025-03-26 00:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 14/33: 2025-03-26 00:40:00+00:00 to 2025-03-26 17:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 15/33: 2025-03-26 17:20:00+00:00 to 2025-03-27 10:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 16/33: 2025-03-27 10:00:00+00:00 to 2025-03-28 02:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 17/33: 2025-03-28 02:40:00+00:00 to 2025-03-28 19:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 18/33: 2025-03-28 19:20:00+00:00 to 2025-03-29 12:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 19/33: 2025-03-29 12:00:00+00:00 to 2025-03-30 04:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 20/33: 2025-03-30 04:40:00+00:00 to 2025-03-30 21:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 21/33: 2025-03-30 21:20:00+00:00 to 2025-03-31 14:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 22/33: 2025-03-31 14:00:00+00:00 to 2025-04-01 06:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 23/33: 2025-04-01 06:40:00+00:00 to 2025-04-01 23:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 24/33: 2025-04-01 23:20:00+00:00 to 2025-04-02 16:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 25/33: 2025-04-02 16:00:00+00:00 to 2025-04-03 08:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 26/33: 2025-04-03 08:40:00+00:00 to 2025-04-04 01:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 27/33: 2025-04-04 01:20:00+00:00 to 2025-04-04 18:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 28/33: 2025-04-04 18:00:00+00:00 to 2025-04-05 10:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 29/33: 2025-04-05 10:40:00+00:00 to 2025-04-06 03:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 30/33: 2025-04-06 03:20:00+00:00 to 2025-04-06 20:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 31/33: 2025-04-06 20:00:00+00:00 to 2025-04-07 12:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 32/33: 2025-04-07 12:40:00+00:00 to 2025-04-08 05:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 33/33: 2025-04-08 05:20:00+00:00 to 2025-04-08 18:33:38+00:00
  - Retrieved 1000 data points
Total new data points: 33000
Combined dataset size before deduplication: 6977800
Final dataset size after deduplication: 6977593
Updated dataset saved to upload/btcusd_1-min_data.csv

,Timestamp,Open,High,Low,Close,Volume,datetime
0,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:01:00+00:00
1,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:02:00+00:00
2,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:03:00+00:00
3,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:04:00+00:00
4,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:05:00+00:00
...,...,...,...,...,...,...,...
6977588,1.744137e+09,77317.00,77317.00,77271.00,77271.00,0.045864,NaN
6977589,1.744137e+09,77262.00,77932.00,77262.00,77755.00,1.504965,NaN
6977590,1.744137e+09,77777.00,77777.00,77525.00,77579.00,3.720058,NaN
6977591,1.744137e+09,77644.00,77708.00,77592.00,77592.00,0.056099,NaN
6977592,1.744137e+09,77598.00,77600.00,77500.00,77500.00,0.044958,NaN

In [5]:
df['datetime'] = pd.to_datetime(df['Timestamp'].astype('Int64'), unit='s', errors='coerce')
df['Year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
print(df)

            Timestamp      Open      High       Low     Close    Volume  \
0        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
1        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
2        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
3        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
4        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
...               ...       ...       ...       ...       ...       ...
6976229  1.744055e+09  78230.00  78230.00  78052.00  78054.00  2.234757
6976230  1.744055e+09  78059.00  78214.00  78047.00  78188.00  3.388673
6976231  1.744056e+09  78116.00  78217.00  78116.00  78202.00  1.383640
6976232  1.744056e+09  78209.00  78258.00  78080.00  78080.00  3.512614
6976233  1.744056e+09  78073.00  78278.00  78070.00  78262.00  1.907790

                   datetime  Year  month  day
0       2012-01-01 10:01:00  2012      1    1
1       2012-01-01 10:02:00  2012      1    1
2       2012-01-01 10:03:00  2012      1    1
3       2012-01-01 10:04:00  2012      1    1
4       2012-01-01 10:05:00  2012      1    1
...                     ...   ...    ...  ...
6976229 2025-04-07 19:50:00  2025      4    7
6976230 2025-04-07 19:51:00  2025      4    7
6976231 2025-04-07 19:52:00  2025      4    7
6976232 2025-04-07 19:53:00  2025      4    7
6976233 2025-04-07 19:54:00  2025      4    7

[6976234 rows x 10 columns]

In [4]:
import torch
import torch.nn as nn
from torch.nn import GRU
from torch.nn import RNN
import torch.utils.data as data_utils
input_size = df.shape[1]
tensor = data_utils.DataLoader(df)

# Input size: features presented to model
# Hidden size: number of connections made by each layer of the NN, We will tune this using a logarithmic scale
# num_layers: number of trained RNNs being stacked on top of eachother (learn from eachother).
rnn = nn.RNN(input_size=input_size, hidden_size=n, num_layers=2, batch_first=True)

NameError: name 'n' is not defined