# <strong>Bitcoin Recurrent Neural Network<strong>
### Justin Marlor & Habit Blunk
##### *Colorado State University*

In [11]:
import pandas as pd
import subprocess

result = subprocess.run(['bash', './add-run-kaggle-bitcoin'], capture_output=True,text=True)

print(result.stdout)
print(result.stderr)

if result.returncode == 0:
  df = pd.read_csv("kaggle-bitcoin/upload/btcusd_1-min_data.csv", dtype={"Volume": float}, low_memory=False)
  display(df)

Installing dependencies from lock file

No dependencies to install or update

Installing the current project: kaggle-bitcoin (0.1.0)
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/Jmarlor/.config/kaggle/kaggle.json'
Current time (UTC): 2025-04-07 16:42:16.634432+00:00
Downloading dataset metadata from Kaggle...
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Downloading dataset from Kaggle...
Dataset URL: https://www.kaggle.com/datasets/mczielinski/bitcoin-historical-data
Checking for missing data...
Last data point in dataset: 2025-03-17 00:00:00+00:00 (Unix: 1742169600)
Current time (minus buffer): 2025-04-07 16:32:48.738374+00:00 (Unix: 1744043568)
Gap of 1873968 seconds detected.
Missing data detected.
Fetching data from 2025-03-17 00:00:00+00:00 to 2025-04-07 16:32:48+00:00
Fetching chunk 1/32: 2025-03-17 00:00:00+00:00 to 2025-03-17 16:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 2/32: 2025-03-17 16:40:00+00:00 to 2025-03-18 09:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 3/32: 2025-03-18 09:20:00+00:00 to 2025-03-19 02:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 4/32: 2025-03-19 02:00:00+00:00 to 2025-03-19 18:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 5/32: 2025-03-19 18:40:00+00:00 to 2025-03-20 11:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 6/32: 2025-03-20 11:20:00+00:00 to 2025-03-21 04:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 7/32: 2025-03-21 04:00:00+00:00 to 2025-03-21 20:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 8/32: 2025-03-21 20:40:00+00:00 to 2025-03-22 13:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 9/32: 2025-03-22 13:20:00+00:00 to 2025-03-23 06:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 10/32: 2025-03-23 06:00:00+00:00 to 2025-03-23 22:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 11/32: 2025-03-23 22:40:00+00:00 to 2025-03-24 15:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 12/32: 2025-03-24 15:20:00+00:00 to 2025-03-25 08:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 13/32: 2025-03-25 08:00:00+00:00 to 2025-03-26 00:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 14/32: 2025-03-26 00:40:00+00:00 to 2025-03-26 17:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 15/32: 2025-03-26 17:20:00+00:00 to 2025-03-27 10:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 16/32: 2025-03-27 10:00:00+00:00 to 2025-03-28 02:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 17/32: 2025-03-28 02:40:00+00:00 to 2025-03-28 19:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 18/32: 2025-03-28 19:20:00+00:00 to 2025-03-29 12:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 19/32: 2025-03-29 12:00:00+00:00 to 2025-03-30 04:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 20/32: 2025-03-30 04:40:00+00:00 to 2025-03-30 21:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 21/32: 2025-03-30 21:20:00+00:00 to 2025-03-31 14:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 22/32: 2025-03-31 14:00:00+00:00 to 2025-04-01 06:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 23/32: 2025-04-01 06:40:00+00:00 to 2025-04-01 23:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 24/32: 2025-04-01 23:20:00+00:00 to 2025-04-02 16:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 25/32: 2025-04-02 16:00:00+00:00 to 2025-04-03 08:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 26/32: 2025-04-03 08:40:00+00:00 to 2025-04-04 01:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 27/32: 2025-04-04 01:20:00+00:00 to 2025-04-04 18:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 28/32: 2025-04-04 18:00:00+00:00 to 2025-04-05 10:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 29/32: 2025-04-05 10:40:00+00:00 to 2025-04-06 03:20:00+00:00
  - Retrieved 1000 data points
Fetching chunk 30/32: 2025-04-06 03:20:00+00:00 to 2025-04-06 20:00:00+00:00
  - Retrieved 1000 data points
Fetching chunk 31/32: 2025-04-06 20:00:00+00:00 to 2025-04-07 12:40:00+00:00
  - Retrieved 1000 data points
Fetching chunk 32/32: 2025-04-07 12:40:00+00:00 to 2025-04-07 16:32:48+00:00
  - Retrieved 1000 data points
Total new data points: 32000
Combined dataset size before deduplication: 6976800
Final dataset size after deduplication: 6976032
Updated dataset saved to upload/btcusd_1-min_data.csv

,Timestamp,Open,High,Low,Close,Volume,datetime
0,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:01:00+00:00
1,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:02:00+00:00
2,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:03:00+00:00
3,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:04:00+00:00
4,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:05:00+00:00
...,...,...,...,...,...,...,...
6976027,1.744043e+09,78171.00,78286.00,78159.00,78237.00,0.878982,NaN
6976028,1.744043e+09,78286.00,78332.00,78229.00,78300.00,1.614627,NaN
6976029,1.744043e+09,78291.00,78397.00,78228.00,78389.00,1.488055,NaN
6976030,1.744043e+09,78382.00,78485.00,78382.00,78485.00,1.268898,NaN
6976031,1.744044e+09,78540.00,78540.00,78317.00,78317.00,3.538569,NaN

In [22]:
df['datetime'] = pd.to_datetime(df['Timestamp'].astype('Int64'), unit='s', errors='coerce')
df['Year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
print(df)

            Timestamp      Open      High       Low     Close    Volume  \
0        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
1        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
2        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
3        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
4        1.325412e+09      4.58      4.58      4.58      4.58  0.000000
...               ...       ...       ...       ...       ...       ...
6976027  1.744043e+09  78171.00  78286.00  78159.00  78237.00  0.878982
6976028  1.744043e+09  78286.00  78332.00  78229.00  78300.00  1.614627
6976029  1.744043e+09  78291.00  78397.00  78228.00  78389.00  1.488055
6976030  1.744043e+09  78382.00  78485.00  78382.00  78485.00  1.268898
6976031  1.744044e+09  78540.00  78540.00  78317.00  78317.00  3.538569

                   datetime  Year  month  day
0       2012-01-01 10:01:00  2012      1    1
1       2012-01-01 10:02:00  2012      1    1
2       2012-01-01 10:03:00  2012      1    1
3       2012-01-01 10:04:00  2012      1    1
4       2012-01-01 10:05:00  2012      1    1
...                     ...   ...    ...  ...
6976027 2025-04-07 16:28:00  2025      4    7
6976028 2025-04-07 16:29:00  2025      4    7
6976029 2025-04-07 16:30:00  2025      4    7
6976030 2025-04-07 16:31:00  2025      4    7
6976031 2025-04-07 16:32:00  2025      4    7

[6976032 rows x 10 columns]

In [10]:
import torch
import torch.nn as nn
from torch.nn import GRU
from torch.nn import RNN
import torch.utils.data as data_utils

input_size = df.shape[1]
n =

rnn = nn.RNN(input_size=input_size, hidden_size=n, num_layers=2, batch_first=True)

(6975948, 6)